:root{
    --maincolor:rgb(75, 121, 207) ;
    --mainwhit:white;
}
.chart{
    padding-top:80px;
    height: 100%;
    margin:0 10px ;
    margin-bottom: 50px;
    transition-duration: 0.5s;
}
.chart .earnh{
    border-bottom:1px solid rgba(128, 128, 128, 0.181);
padding-bottom:20px;
}

.chart .card .botme{
    display: flex;
    justify-content: center;
}
.chart .cardbar .bottomdashins{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    height: 300px;
}
.chart .cardbar .bottomdashins .mony{
display: flex;
flex-direction: column;
width: 10%;
justify-content: space-between;
margin-bottom: 3%;
}
.chart .cardbar .bottomdashins .pres{
    display: flex;
    width: 90%;
    align-items:end;
    justify-content: space-between;
    transition-duration: 0.8s;
    }
    .chart .cardbar .bottomdashins .pres span::after{
        content: '';
    width: 15px;
    height: 50%;
    position: absolute;
    background-color: rgb(0, 0, 192);
    transform: translateY(-100%);
    border-radius: 10px 10px 0 0;
    margin-left: -2%;
}
.chart .cardbar .bottomdashins .pres .g{
    overflow: hidden;
    width: 15px;
    height: 50%;
    position: absolute;
    background-color: rgb(0, 192, 32);
    transform: translateY(-100%);
    border-radius: 10px 10px 0 0;
    z-index: 1;
    margin-left: 30px;
    display: none;
}
.cardbar .to{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#line-example-1 {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#line-example-1 .line {
  --aspect-ratio: 21 / 9;
  background-color: #f6f6f6;
}



























.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .chart .tops{
    display: flex;
    flex-direction: column;
  }
  .chart .tops .card{
    padding: 10px 20px;
  }
  .chart .tops .card h2{
    font-size: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.147);
padding-bottom: 10px;  
}
  .chart .tops .card h2{
    font-size: 20px;
  }

  
  @import url(https://fonts.googleapis.com/css?family=Abel);
  .chart-three {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
  }
  .chart-three.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
            animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .chart-three.animate figcaption:after {
    -webkit-animation: chart-three-label 3s steps(75) forwards;
            animation: chart-three-label 3s steps(75) forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .chart-three svg {
    width: 100%;
    height: 100%;
  }
  .chart-three svg .circle-background, .chart-three svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke:gray;;
    stroke-width: 25px;
  }
  .chart-three svg .circle-foreground {
    stroke:var(--maincolor);
    stroke-dasharray: 412.125px 549.5px;
    stroke-dashoffset: 412.125px;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }
  .chart-three figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color:var(--maincolor);
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
  }
  .chart-three figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  
  @-webkit-keyframes chart-three-label {
    100% {
      transform: translateY(-187.5rem);
    }
  }
  
  @keyframes chart-three-label {
    100% {
      transform: translateY(-187.5rem);
    }
  }
  @-webkit-keyframes offset {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes offset {
    100% {
      stroke-dashoffset: 0;
    }
  }
  /* codepen styling only */

  
  figure {
    margin: 1rem !important;
  }
  
  figcaption {
    font-family: "Abel", sans-serif;
  }